<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <#assign cmg = request.contextPath />
    <meta charset="UTF-8">
    <title>补货编辑</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
</head>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
</div>

<div class="modal-body">

    <form id="dmodalForm" class="form-horizontal">

        <input class="form-control" name="skuId"  id="skuId" type="hidden" value="${Good.skuId!''}"/>

        <div class="form-group">
            <label class="control-label col-sm-2">货品名称:</label>
            <div class="col-sm-4">
                <input class="form-control" name="goodsName" id="goodsName" type="text" value="${Good.goodsName!''}"/>
            </div>
        </div>

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-2">最小数量:</label>-->
            <!--<div class="col-sm-4">-->
                <!--<input class="form-control" name="miniOrder" id="miniOrder" type="text" value="${Good.miniOrder!''}"/>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group">
            <label class="control-label col-sm-2">安全库存:</label>
            <div class="col-sm-4">
                <input class="form-control" name="safeNum" id="safeNum" type="text" value="${Good.safeNum!''}"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">当前库存:</label>
            <div class="col-sm-4">
                <input class="form-control" name="remnantNum" id="remnantNum" type="text" value="${Good.remnantNum!''}"/>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">消耗速率(个):</label>
            <div class="col-sm-4">
                <input class="form-control" name="consumeRatio" id="consumeRatio" type="text" value="${Good.consumeRatio!''}"/>
            </div>

        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">消耗周期(天):</label>
            <div class="col-sm-4">
                <input class="form-control" name="consumeCycle" id="consumeCycle" type="text" value="${Good.consumeCycle!''}"/>
            </div>

        </div>


    </form>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
    <button type="button" class="btn btn-primary" id="submit">确认</button>
</div>




<script type="text/javascript">


    $("#submit").click(function () {

        var modalForm = $("#dmodalForm");
        var params = modalForm.serializeForm();

            var layerIndex;
            $.ajax({
                url: "${cmg}/update",
                data: params,
                timeout: 10000,
                type: "post",
                async: false,
                dataType:"json",
                beforeSend:function(){
                    layerIndex = layer.load(0, {shade: false});
                },
                success:function(result,row){
                    layer.close(layerIndex);
                    if(result.code=='0'){
                        layer.msg(result.msg);
                        setTimeout(function(){
                            $('#query').click();
                            $('#goodEdit').modal('hide');
                        },500);
                    }else{
                        layer.msg(result.msg);
                    }
                },
                error:function (XMLHttpRequest, textStatus, errorThrown) {
                    layer.close(layerIndex);
                    XMLHttpRequest.abort();
                    if (textStatus == 'error') {
                        layer.msg("请求失败:" + errorThrown);
                    } else if (textStatus == 'timeout') {
                        layer.msg('请求超时');
                    } else {
                        layer.msg('status[' + textStatus + '] message:' + errorThrown)
                    }
                }
            })
        })





</script>
</html>