<!DOCTYPE html>
<#assign cmg = request.contextPath />
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Repo-manage</title>
  <script src="${cmg}/static/js/jquery.min.js"></script>
  <script src="${cmg}/static/bootstrap/js/bootstrap.min.js"></script>
  <script src="${cmg}/static/bootstrap-table/bootstrap-table.min.js"></script>
  <script src="${cmg}/static/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
  <script src="${cmg}/static/js/common.js"></script>
  <script src="${cmg}/static/js/commonutils.js"></script>
  <script src="${cmg}/static/layer/layer.js"></script>

  <script src="${cmg}/static/bootstrap-fileinput-master/js/fileinput.js" type="text/javascript"></script>
  <script src="${cmg}/static/bootstrap-fileinput-master/js/fileinput_locale_zh.js" type="text/javascript"></script>
  <link href="${cmg}/static/bootstrap-fileinput-master/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>

  <link href="${cmg}/static/css/font-awesome.min.css" rel="stylesheet">
  <link href="${cmg}/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="${cmg}/static/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
  <link href="${cmg}/static/layer/theme/default/layer.css" rel="stylesheet">
<body>
<div class="container kv-main">
  <div class="page-header">
  </div>
  <div class="panel-body" style="padding-bottom:0px;">
    <div class="panel panel-primary">
      <div class="panel-heading">易耗品管理</div>
      <div class="panel-body table-responsive">

        <div class="form-group" style="margin-top:30px">
          <form enctype="multipart/form-data" id ="searchForm">
              <label class="control-label col-sm-1">SKU:</label>
              <div class="col-sm-2">
                <div>
                  <input type="text" name="skuId" class="form-control"/>
                </div>
              </div>
          </form>
        </div>

        <div class="form-group">
            <div class="form-group" style="margin-top:30px">
              <input id="file-0" class="file" type="file" multiple data-min-file-count="1">
            </div>
        </div>



        <div id="toolbar" class="btn-group">
          <a href="javascript:;" class="btn btn-primary" id="edit" title="编辑"><i class="fa fa-plus"></i>编辑</a>
          <a href="javascript:;" class="btn btn-success" id="add" title="新增"><i class="fa fa-plus"></i>新增</a>
          <a href="javascript:;" class="btn btn-primary" id="query" title="查询"><i class="fa fa-plus"></i>查询</a>
          <a href="${cmg}/import" class="btn btn-success" id="import" title="下载"><i class="fa fa-plus"></i>下载</a>
        </div>

        <table id="table" class="table-striped table-bordered table-hover text-nowrap" style="margin-top:30px"></table>
      </div>

    </div>
  </div>

  <div class="modal fade" id="goodEdit" tabindex="1" aria-hidden="true" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
    </div>
  </div>

</div>

</body>
<script>
    var $table = $("#table");

    $("#file-0").fileinput({
        language: 'zh',
        uploadUrl: '${cmg}/upload',
        uploadAsync:true,
        allowedFileExtensions : ['xlsx', 'xls'],
        showPreview: false,
        overwriteInitial: false,
        maxFilesNum: 1,
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
    }).on("fileuploaded",function(event,data) {
        if(data.response.success){
            layer.msg(data.response.msg);
        }else{
            layer.msg(data.response.msg);
        }
    });

    var queryParams = function (params) {
        var form = $("#searchForm").serializeForm();
        form['pageSize'] = params.pageSize;
        form['pageNumber'] = params.pageNumber;
        return form;
    };

    $("#query").click(function () {
        $table.bootstrapTable('refresh', {
            url: '${cmg}/search',
            'queryParams': queryParams
        });
    });

    $("#edit").click(function () {
        var row = $("#table").bootstrapTable('getSelections');
        if(row.length<=0){
            alert("请选中一行")
        }else {
            var id = row[0].skuId;
            $("#goodEdit").modal({
                show: true,
                remote: '${cmg}/toUpdate?skuId=' + id
            });
        }
    })

    $("#add").click(function () {
        $("#goodEdit").modal({
            show: true,
            remote: '${cmg}/toSave'
        });
    })

    $(function () {
        $table.bootstrapTable({
            url: '${cmg}/search',
            method: 'post',
            contentType: "application/x-www-form-urlencoded",
            toolbar: '#toolbar',
            queryParams: queryParams,
            pagination: true,
            sidePagination: 'server',
            queryParamsType: '',
            pageList:[10, 25, 50, 100],
            paginationLoop: false,
            singleSelect: true,
            clickToSelect: true,
            showToggle:true,
            cardView: false,
            striped: true,
            responseHandler: function (res) {
                if (res.message != null) {
                    layer.msg(res.message);
                }
                return res;
            },
            columns : [ {
                checkbox: true
            }, {
                field : 'skuId',
                title : 'SKU',
                width : 100,
                align : 'center'
            }, {
                field : 'goodsName',
                title : '用具名称',
                width : 100,
                align : 'center'
            },{
                field : 'safeNum',
                title : '安全库存',
                width : 100,
                align : 'center'
            },{
                field : 'consumeRatio',
                title : '消耗速率(个)',
                width : 130,
                align : 'center'
            },{
                field : 'consumeCycle',
                title : '消耗周期(天)',
                width : 130,
                align : 'center'
            },{
                field : 'remnantNum',
                title : '上次补货库存',
                width : 150,
                align : 'center'
            },{
                field : 'currentNum',
                title : '当前库存',
                width : 150,
                align : 'center'
            },{
                field : 'isPadding',
                title : '是否需要补货',
                width : 150,
                align : 'center',
                formatter:function (value,row) {
                    if (value =='false'){
                        return "不需要";
                    }else if (value == 'true') {
                        return "需要";
                    }
                }
            },{
                field : 'updateTime',
                title : '上次补货时间',
                width : 150,
                align : 'center'
            }],
            rowStyle: function(row,index){
                var strclass = "";
                if(row.isPadding == 'true'){
                    strclass = 'danger';
                    warn = true;
                }
                return { classes : strclass}
            },
            onDblClickRow: function (row, $element) {

            }
        });
    })

    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
    });

</script>
</html>