body{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	line-height:1.42857143;
	color:#333;
	background-color:#fff
}
.skin-blue .main-header .navbar{
	background-color:#415e9b
}
.skin-blue .main-header .logo{
	background-color:#415e9b;
	color:#fff;
	border-bottom:0 solid transparent
}
.skin-blue .main-header li.user-header{
	background-color:#415e9b
}
.skin-blue .main-header .navbar .sidebar-toggle:hover{
	background-color:#415e9b
}
.skin-blue .sidebar-form input[type="text"],.skin-blue .sidebar-form .btn{
	box-shadow:none;
	background-color:#e9ebee;
	border:1px solid transparent;
	height:35px
}
.content-tabs nav.page-tabs {
    margin-left: 40px;
    width: 100000px;
    height: 40px;
    background: #e9ebee;
    overflow: hidden;
}
.content-tabs .page-tabs a.active {
    background: #415e9b;
    color: #fff;
    border-right: solid 1px #415e9b;
}
.content-tabs .page-tabs a {
    display: block;
    float: left;
    /*border-right: solid 0px #ddd;*/
    border-right: solid 1px #415e9b;
    padding: 0 15px;
    padding-right: 8px;
    text-decoration: none;
    color: #475059;
}
.content-tabs {
    position: relative;
    height: 42px;
    line-height: 39.5px;
    background: #fafafa;
    border-bottom: solid 1px #415e9b;
    font-size: 12px;
    border-top: 1px solid #ddd;
}
.skin-blue .sidebar-menu>li:hover>a,.skin-blue .sidebar-menu>li.active>a,.skin-blue .sidebar-menu>li.menu-open>a{
	color:#fff;
	background:#415e9b
}
.skin-blue .sidebar-menu>li>.treeview-menu{
	margin:0 1px;
	background:#415e9b
}
.skin-blue .user-panel>.info,.skin-blue .user-panel>.info>a{
	color:#000
}
.skin-blue .sidebar-menu .treeview-menu>li>a{
	color:#000
}
.skin-blue .sidebar a{
	color:#000
}
.panel-primary>.panel-heading{
	color:#fff;
	background-color:#415e9b;
	border-color:#415e9b
}
.btn-primary{
	color:#fff;
	background-color:#415e9b;
	border-color:#415e9b
}
.btn-primary:hover{
	color:#fff;
	background-color:#367fa9;
	border-color:#415e9b
}
btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{
	color:#fff;
	background-color:#415e9b;
	border-color:#122b40
    }